@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track{
	background: transparent;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	background: #56545A;
	border-radius: 5px;
}
::-webkit-scrollbar-corner{
	background: transparent;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #1B1A1F;
	background-size: cover;
	background-attachment: fixed;
	font-family: "Lato", sans-serif;
	position: absolute;
	overflow: scroll;
}
h1{
	color: white;
	font-size: 40px;
	font-family: "Lobster", cursive;
	margin-bottom: 1px;
}
h3{
	margin-top: 1px;
	color: lightgray;
	font-size: 20px;
	font-family: "Lobster", cursive;
}
#social{
	height: 50px;
	width: 70%;
	text-align: center;
	margin-top: 1px;
	margin-bottom: 10px;
	background-color: lightgray;
	border-radius: 5px;
	padding-top: 15px;
}
#social a{
	padding-left: 5px;
	padding-right: 5px;
}
.sidebar{
	height: 100%;
	width: 350px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 1px;
}
#openbtn{
	font-size: 20px;
	cursor: pointer;
	background-color: #FDD80E;
	color: #1B1A1F;
	padding: 10px 15px;
	border: none;
	transition: 0.3s
}
#openbtn:hover{
	background-color: #FFEB7B;
}
#open{
	position: fixed;
	z-index: 1;
	margin-left: 350px;
	transition: margin-left .5s;
	padding: 16px;
}
#maps{
	left: 0;
	top: 0;
}
.side{
	height: 40px;
	width: 150px;
	margin: 10px;
	color: #1B1A1F;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .8em;
	letter-spacing: 1.5px;
	align-items: center;
	justify-content: center;
	background-color: #FDD80E;
	transition: margin-left .5s;
	cursor: pointer;
	border: 0;
}
.side:hover{
	background-color: #FFEB7B;
}
hr{
	border: 2px solid lightgray;
	width: 70%;
	border-radius: 10px

}
table{
	font-size: 20px;
	color: lightgray;
}
#colour-sqr{
	width: 20px;
	height: 20px;
}
#flag-sqr{
	width: 50px;
	height: 50px;
}
/*----------------------------*/
@media screen and (max-height: 450px)
{
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
@media screen and (max-width: 720px) 
{

}
@media screen and (min-width: 721px) 
{

}
/*----------------------------*/